<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Daftar Artikel</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Daftar Artikel</h1>
        <p>
          Manajemen artikel situs kamu disini, dari mulai menambah, mengubah,
          hingga menghapus
        </p>
        <nav>
          <ul>
            <li><a href="#">Dasbor</a></li>
            <li><a href="#">Label</a></li>
            <li><a href="#">Artikel</a></li>
            <li><a href="#">Halaman</a></li>
            <li><a href="#">Pengaturan</a></li>
            <li><a href="#">Keluar</a></li>
          </ul>
        </nav>
      </header>
      <section class="content-wrapper">
        <a href="#" class="btn">Tambah Artikel</a>
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>No</th>
                <th>Judul</th>
                <th>Label</th>
                <th>Jml. Dilihat</th>
                <th width="160px">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">1</td>
                <td>Cara Membuat Website</td>
                <td>
                  <div class="tags">
                    <a href="#">Pemrograman</a><a href="#">Web</a>
                  </div>
                </td>
                <td>2234</td>
                <td class="text-center">
                  <a href="#" class="btn">Sunting</a>
                  <a href="#" class="btn">Hapus</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-center">
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </section>
      <footer>
        Copyright &copy; 2018. All Right Reserved. Coded Under Presure and Love
        at Bandung.
      </footer>
    </div>
  </body>
</html>
