<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dasbor</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Dasbor</h1>
        <p>
          Manajemen situs kamu disini, dari mulai label, artikel, halaman, dan
          pengaturan.
        </p>
        <nav>
          <ul>
            <li><a href="#">Dasbor</a></li>
            <li><a href="#">Label</a></li>
            <li><a href="#">Artikel</a></li>
            <li><a href="#">Halaman</a></li>
            <li><a href="#">Pengaturan</a></li>
            <li><a href="#">Keluar</a></li>
          </ul>
        </nav>
      </header>
      <section class="content-wrapper">
        <div class="row">
          <div class="col-6">
            <div class="box-item">
              <span class="counter">23545</span>
              <h3 class="title">Pengunjung</h3>
              <a href="#">Selengkapnya</a>
            </div>
          </div>
          <div class="col-6">
            <div class="box-item">
              <span class="counter">23545</span>
              <h3 class="title">Label</h3>
              <a href="#">Selengkapnya</a>
            </div>
          </div>
          <div class="col-6">
            <div class="box-item">
              <span class="counter">23545</span>
              <h3 class="title">Artikel</h3>
              <a href="#">Selengkapnya</a>
            </div>
          </div>
          <div class="col-6">
            <div class="box-item">
              <span class="counter">23545</span>
              <h3 class="title">Halaman</h3>
              <a href="#">Selengkapnya</a>
            </div>
          </div>
        </div>
      </section>
      <footer>
        Copyright &copy; 2018. All Right Reserved. Coded Under Presure and Love
        at Bandung.
      </footer>
    </div>
  </body>
</html>
