<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tambah Label</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Tambah Label</h1>
        <p>Tambahkan label anda disini</p>
        <nav>
          <ul>
            <li><a href="#">Dasbor</a></li>
            <li><a href="#">Label</a></li>
            <li><a href="#">Artikel</a></li>
            <li><a href="#">Halaman</a></li>
            <li><a href="#">Pengaturan</a></li>
            <li><a href="#">Keluar</a></li>
          </ul>
        </nav>
      </header>
      <section class="content-wrapper">
        <form action="">
          <div class="form-section">
            <label>Label</label>
            <input
              class="form-el"
              type="text"
              name="label"
              placeholder="label a, label b, ..."
            />
            <span class="help-block">Dipisahkan dengan karakter koma (,)</span>
          </div>
          <div class="form-setion">
            <button class="btn">Tambahkan</button>
            <a href="#" class="btn">Kembali</a>
          </div>
        </form>
      </section>
      <footer>
        Copyright &copy; 2018. All Right Reserved. Coded Under Presure and Love
        at Bandung.
      </footer>
    </div>
  </body>
</html>
